<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
     http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
  <display-name>Archetype Created Web Application</display-name>

  <!--  注册UserServlet-->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.hlb.controller.servlet.UserServlet</servlet-class>
  </servlet>

  <!--  UserServlet的请求路径-->
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>

  <!--  Search_Students_Inf_Servlet-->
  <servlet>
    <servlet-name>Students_Inf_Servlet</servlet-name>
    <servlet-class>com.hlb.controller.servlet.Students_Inf_Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Students_Inf_Servlet</servlet-name>
    <url-pattern>/Students_Inf_Servlet</url-pattern>
  </servlet-mapping>

</web-app>

